# Compiled source #
###################
server
*.exe

node_modules
.env.json
log
.idea/


python-server/color_controller.pyc
python-server/color_sensor.pyc
python-server/server.pyc
python-server/thread_class.pyc
