{
  "tasks": [
    {"task": "merge", "enabled": false}
  ],
  "bitbucketAPI": "https://bitbucket.kgportal.com/rest/api/1.0/",
  "project": "lot40",
  "repo": "l40chaosbot",
  "username": "",
  "password": "",
  "SLACK_BOT_TOKEN": "",
  "webserver": {
    "port" : 8080
  },
  "cleverbotAPI": ""
}
